// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
    height:50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#chat {
    width: 100vw;
    height: 80vh;
    display: block;
    border: 2px solid black;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#msg {
    width: 100%
}

#sub {
    width: 10vw;
}